<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SalesOrderManagerPortBinding">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://oracle.e1.bssv.JP420000/':    -->
                    <!--    <wsdl:binding name='SalesOrderManagerPortBinding'>    -->
                    <!--        <ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</ns2:SupportingTokens>    -->
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport useDefaultWebProxy="false" proxyAddress="http://127.0.0.1:8888"  proxyAuthenticationScheme="Anonymous" />  
                   <security mode="Message"> <message clientCredentialType="UserName" /> </security> </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://dveol8.oracleoutsourcing.com/DV910/SalesOrderManager"
                binding="customBinding" bindingConfiguration="SalesOrderManagerPortBinding"
                contract="SalesOrderManager" name="SalesOrderManagerPort" />
        </client>
    </system.serviceModel>


</configuration>